*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Plain Light";
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border: 1px solid rgba(255, 255, 255, 0.623);
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    transform: translate(-50%,-50%);
    /* background-color: #fff; */
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 10vw 25vh;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap :1vw;
}
#line1-part1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;   
}
#line1-part1 h5 , #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1-part1 h5{
    width: 5vw;
    align-items: start;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}
#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    overflow-x: hidden;

}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.page1-line{
    
    width: 73%;
    margin-left: 27.6%;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    position: relative;
    z-index: 999;
    /* background-color: aqua; */
}
.page1-line:nth-child(2){
    margin-top: 19vh;
}
.page1-line h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
   
}
.page1-line h2{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 7vw;
   
}
.page1-line h2:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 500;
}
#page2 {
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
    /* background-color: aqua; */
    /* overflow-x: hidden; */
}
#video-container{
    height:70vh ;
    width:72% ;
    position: relative;
    left: 28%;
    /* background-color: aqua; */
    background-image: ("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}
#video-cursor{
    background-color: #ffa63d;
    position: absolute;
    border-radius: 50%;
    height: 16vh;
    width: 8vw;

    top: 10.5%;
    left: 80%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor{
    font-size: 2vw;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #656363;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #656363; */
    position: relative;
    padding: 7vh 0;
}
#page4-content{
    width: 65vw;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
#page4-content .underline{
    height: 2px;
    width: 100%;
    margin: 5vw 0;
    background-color: #fff;
}
#page4-content>p {
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
   
}
#page4-flex img{
    width: 48%;
}
#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    padding-left: 2vw;
}
#page4-blue-div {
    background-color: #3F7DF4;
    width: 26vw;
    padding: 3vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 23vw;
}

.blue-div-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* background-color: red; */
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4 {
    font-size: 1.4vw;
    font-weight: 500;
}

.blue-div-elem p {
    width: 40%;
    font-size: 0.8vw;
}


